---
import type { PostPreview } from "../../types/PostPreview";

export type Props = PostPreview;
const { imgUrl, publishDate, slug, title, teaser } = Astro.props;
const date = new Date(publishDate);
const prettyDate = `21 January ${date.getFullYear()}`;
---

<a
  href={`/blog/${slug}`}
  class="flex shadow hover:shadow-md transition-shadow items-center rounded-md overflow-hidden border-gray-100 border"
>
  <img class="aspect-square h-16 w-16 mr-2" src={imgUrl} alt={title} />
  <div class="flex flex-col min-w-0">
    <span>
      <span class="font-bold">{title}</span>
      <span class="opacity-75 italic">{prettyDate}</span>
    </span>
    <span class="opacity-75 whitespace-nowrap overflow-hidden text-ellipsis"
      >{teaser}</span
    >
  </div>
</a>
